mixin svg( name, width, height )
  svg( width=("" + width) height=("" + height) aria-hidden="true" )
    use( xlink:href=("img/sprite.svg#" + name) )

mixin svg-house
  svg(width='34' height='34' viewbox='0 0 34 34' fill='#ffffff' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M1 10.7391L17.6957 1L33 10.7391H1V10.7391Z' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M1 33.0001H33V28.8262H1V33.0001Z' stroke='#17233B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M5.17346 26.0435H9.34738V13.5217H5.17346V26.0435Z' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M3.78284 13.5217H5.17414' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M3.78284 26.0435H5.17414' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M9.34766 26.0435H10.739' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M9.34766 13.5217H10.739' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M14.9133 26.0435H19.0872V13.5217H14.9133V26.0435Z' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M13.5219 13.5217H14.9132' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M13.5219 26.0435H14.9132' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M19.0867 26.0435H20.478' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M19.0867 13.5217H20.478' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M24.6523 26.0435H28.8263V13.5217H24.6523V26.0435Z' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M23.2601 13.5217H24.6514' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M23.2601 26.0435H24.6514' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M28.8258 26.0435H30.2171' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M28.8258 13.5217H30.2171' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin svg-rub
  svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M33 30.0909C33 31.6982 31.6982 33 30.0909 33H3.90909C2.30182 33 1 31.6982 1 30.0909V3.90909C1 2.30182 2.30182 1 3.90909 1H30.0909C31.6982 1 33 2.30182 33 3.90909V30.0909V30.0909Z' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M1 6.81812H33' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M4.63655 3.90916C4.63655 4.31061 4.31073 4.63643 3.90928 4.63643C3.50782 4.63643 3.18201 4.31061 3.18201 3.90916C3.18201 3.5077 3.50782 3.18188 3.90928 3.18188C4.31073 3.18188 4.63655 3.5077 4.63655 3.90916Z' fill='#FF4E2C')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M7.54512 3.90916C7.54512 4.31061 7.2193 4.63643 6.81785 4.63643C6.41639 4.63643 6.09058 4.31061 6.09058 3.90916C6.09058 3.5077 6.41639 3.18188 6.81785 3.18188C7.2193 3.18188 7.54512 3.5077 7.54512 3.90916Z' fill='#FF4E2C')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M10.4545 3.90916C10.4545 4.31061 10.1287 4.63643 9.72727 4.63643C9.32582 4.63643 9 4.31061 9 3.90916C9 3.5077 9.32582 3.18188 9.72727 3.18188C10.1287 3.18188 10.4545 3.5077 10.4545 3.90916Z' fill='#FF4E2C')

mixin svg-wallet
  svg(width='34' height='33' viewbox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M28.8264 20.3293C28.8264 21.0973 28.2031 21.7206 27.4351 21.7206C26.6671 21.7206 26.0438 21.0973 26.0438 20.3293C26.0438 19.5613 26.6671 18.938 27.4351 18.938C28.2031 18.938 28.8264 19.5613 28.8264 20.3293V20.3293Z' stroke='#FF4E2C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M27.4341 24.503H32.9993V16.1553H27.4341C25.1288 16.1553 23.2603 18.0238 23.2603 20.3292C23.2603 22.6345 25.1288 24.503 27.4341 24.503V24.503Z' stroke='#FF4E2C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M1 13.3727V11.9814C1 8.14001 4.11511 5.0249 7.95648 5.0249H12.826' stroke='#FF4E2C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M33.0003 13.3727V11.9814C33.0003 8.14001 29.8852 5.0249 26.0438 5.0249' stroke='#FF4E2C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M5.17346 9.19902L19.4718 1.49959C21.5448 0.383775 24.1313 1.20186 25.1845 3.30828L28.1298 9.19902' stroke='#17233B' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M15.0126 9.19897L25.3485 3.63379' stroke='#17233B' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M28.8259 9.19922H5.17389C2.86851 9.19922 1 11.0677 1 13.3731V27.2861C1 29.5914 2.86851 31.4599 5.17389 31.4599H28.8259C31.1313 31.4599 32.9998 29.5914 32.9998 27.2861V13.3731C32.9998 11.0677 31.1313 9.19922 28.8259 9.19922V9.19922Z' stroke='#FF4E2C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round')

mixin svg-calendar
  svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M33 30.0909C33 31.6982 31.6982 33 30.0909 33H3.90909C2.30182 33 1 31.6982 1 30.0909V3.90909C1 2.30182 2.30182 1 3.90909 1H30.0909C31.6982 1 33 2.30182 33 3.90909V30.0909V30.0909Z' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M1 6.81812H33' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M4.63683 3.90916C4.63683 4.31061 4.31102 4.63643 3.90956 4.63643C3.50811 4.63643 3.18229 4.31061 3.18229 3.90916C3.18229 3.5077 3.50811 3.18188 3.90956 3.18188C4.31102 3.18188 4.63683 3.5077 4.63683 3.90916Z' fill='#FF4E2C')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M7.54517 3.90916C7.54517 4.31061 7.21935 4.63643 6.81789 4.63643C6.41644 4.63643 6.09062 4.31061 6.09062 3.90916C6.09062 3.5077 6.41644 3.18188 6.81789 3.18188C7.21935 3.18188 7.54517 3.5077 7.54517 3.90916Z' fill='#FF4E2C')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M10.4545 3.90916C10.4545 4.31061 10.1287 4.63643 9.72727 4.63643C9.32582 4.63643 9 4.31061 9 3.90916C9 3.5077 9.32582 3.18188 9.72727 3.18188C10.1287 3.18188 10.4545 3.5077 10.4545 3.90916Z' fill='#FF4E2C')
    line(x1='10.0975' y1='26.4382' x2='28.0758' y2='26.4382' stroke='#17233B' stroke-width='1.5' stroke-linecap='round')
    line(x1='5.22813' y1='26.4382' x2='6.51074' y2='26.4382' stroke='#17233B' stroke-width='1.5' stroke-linecap='round')
    line(x1='10.0975' y1='11.8293' x2='28.0758' y2='11.8293' stroke='#17233B' stroke-width='1.5' stroke-linecap='round')
    line(x1='5.22813' y1='11.8293' x2='6.51074' y2='11.8293' stroke='#17233B' stroke-width='1.5' stroke-linecap='round')
    line(x1='10.0975' y1='16.699' x2='28.0758' y2='16.699' stroke='#17233B' stroke-width='1.5' stroke-linecap='round')
    line(x1='5.22813' y1='16.699' x2='6.51074' y2='16.699' stroke='#17233B' stroke-width='1.5' stroke-linecap='round')
    line(x1='10.0975' y1='21.5686' x2='28.0758' y2='21.5686' stroke='#17233B' stroke-width='1.5' stroke-linecap='round')
    line(x1='5.22813' y1='21.5686' x2='6.51074' y2='21.5686' stroke='#17233B' stroke-width='1.5' stroke-linecap='round')

mixin svg-round
  svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M1 17C1 8.16243 8.16249 1 17.0001 1C24.1195 1 29.0587 5.69565 32.2281 12.0776' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M27.4344 12.1303H32.9996V6.62354' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M32.9999 17C32.9999 25.8376 25.8375 33.0001 16.9998 33.0001C9.88046 33.0001 4.94129 28.3044 1.77187 21.9225' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M6.56526 21.8694H1V27.3762' stroke='#FF4E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M23.2604 17.0001C23.2604 20.4575 20.4569 23.261 16.9995 23.261C13.542 23.261 10.7385 20.4575 10.7385 17.0001C10.7385 13.5427 13.542 10.7393 16.9995 10.7393C20.4569 10.7393 23.2604 13.5427 23.2604 17.0001Z' stroke='#17233B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin svg-percent
  svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
    circle(cx='16' cy='16' r='15.25' stroke='#FF4E2C' stroke-width='1.5')
    path(d='M21.792 10.6768L11.1435 21.3251' stroke='#17233B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M15.1381 12.0083C14.4031 12.7433 13.2101 12.7433 12.4751 12.0083C11.7401 11.2733 11.7401 10.0803 12.4751 9.34538C13.2101 8.61041 14.4031 8.61041 15.1381 9.34538C15.873 10.0803 15.873 11.2733 15.1381 12.0083V12.0083Z' stroke='#17233B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M20.461 22.6574C19.726 23.3924 18.533 23.3924 17.798 22.6574C17.063 21.9224 17.063 20.7294 17.798 19.9944C18.533 19.2594 19.726 19.2594 20.461 19.9944C21.1959 20.7294 21.1959 21.9224 20.461 22.6574V22.6574Z' stroke='#17233B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin svg-logo
  svg(width='159' height='44' viewbox='0 0 159 44' fill='none' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0)')
      path(d='M61.1975 13.5422C55.631 13.5422 52.4075 17.7462 52.4075 23.2296C52.4075 27.8489 54.9996 30.4743 59.5359 30.4743C63.7398 30.4743 66.7806 28.2643 67.6114 23.9607H62.7096C62.2942 25.6888 61.3471 26.5694 59.918 26.5694C58.273 26.5694 57.3425 25.3398 57.3425 23.1631C57.3425 20.9365 58.2896 17.5135 61.048 17.5135C62.6431 17.5135 63.2579 18.4607 63.2912 19.9395H68.0434C68.06 19.7567 68.06 19.6238 68.06 19.5241C68.06 15.8851 65.3848 13.5422 61.1975 13.5422Z' fill='#17233B')
      path(d='M78.2629 18.0453C76.4849 18.0453 75.5378 18.8429 74.5574 20.1888L74.9728 18.3776H70.6692L68.21 30.0755H72.6631L73.7764 24.8746C74.1586 23.0302 75.0061 21.8504 77.1329 21.8504C77.6979 21.8504 78.1798 21.9335 78.8112 22.1495L79.6586 18.1948C79.0272 18.0619 78.7613 18.0453 78.2629 18.0453Z' fill='#17233B')
      path(d='M86.1225 18.0618C81.9851 18.0618 79.1437 20.8865 79.1437 25.0074C79.1437 28.9122 81.6195 30.4077 85.0757 30.4077C87.9171 30.4077 90.4428 29.4772 91.3235 26.6192H86.9534C86.6543 27.234 86.1059 27.5331 85.2917 27.5331C83.9956 27.5331 83.3144 26.8518 83.3144 25.5723C83.3144 25.4726 83.3144 25.4062 83.331 25.2566H91.8053C91.9715 24.3926 91.9881 24.1267 91.9881 23.4122C92.0213 20.0557 89.8114 18.0618 86.1225 18.0618ZM87.8174 22.9303H83.7298C84.0621 21.7007 84.9262 20.9696 86.0727 20.9696C87.1361 20.9696 87.8174 21.6509 87.8174 22.6811V22.9303Z' fill='#17233B')
      path(d='M103.786 13.9077L102.539 19.7899C101.842 18.6101 100.728 18.0452 99.1331 18.0452C95.1286 18.0452 93.2676 21.8836 93.2676 25.4561C93.2676 28.3639 94.5803 30.3911 97.5546 30.3911C99.0168 30.3911 100.014 29.8926 100.778 28.7627C100.695 29.1449 100.662 29.2113 100.612 29.5271L100.529 30.0754H104.816L108.256 13.8911H103.786V13.9077ZM99.4489 26.9681C98.3522 26.9681 97.7872 26.3367 97.7872 25.0573C97.7872 23.5618 98.3522 21.4183 100.197 21.4183C101.31 21.4183 101.792 22.2657 101.792 23.2627C101.792 24.6917 101.243 26.9681 99.4489 26.9681Z' fill='#17233B')
      path(d='M107.458 30.0756H111.961L114.436 18.3611H109.967L107.458 30.0756Z' fill='#17233B')
      path(d='M110.897 13.9077L110.232 17.0316H114.735L115.4 13.9077H110.897Z' fill='#17233B')
      path(d='M130.854 21.1526H133.263L133.894 18.3611H131.485L132.249 14.772H127.78L126.965 18.3611H124.656H124.39H122.246L123.027 14.772H118.557L117.743 18.3611H115.783L115.151 21.1526H117.112L116.231 25.2735C115.882 26.8188 115.849 27.0847 115.849 27.5499C115.849 29.8596 117.893 30.275 119.754 30.275C121.033 30.275 121.415 30.2584 122.363 30.0922L123.044 26.9185C122.628 26.9684 122.23 26.9684 121.814 26.9684C121.15 26.9684 120.568 26.9517 120.568 26.1542C120.568 25.988 120.668 25.4729 120.767 25.0242L121.631 21.1859H123.758H124.041H126.351L125.47 25.3067C125.138 26.852 125.088 27.1179 125.088 27.5832C125.088 29.8928 127.131 30.3082 128.993 30.3082C130.272 30.3082 130.654 30.2916 131.601 30.1255L132.283 26.9517C131.867 27.0016 131.468 27.0016 131.053 27.0016C130.388 27.0016 129.807 26.985 129.807 26.1874C129.807 26.0212 129.89 25.5061 130.006 25.0575L130.854 21.1526Z' fill='#17233B')
      path(d='M140.823 18.0618C136.686 18.0618 133.844 20.8865 133.844 25.0074C133.844 28.9122 136.32 30.4077 139.776 30.4077C142.618 30.4077 145.143 29.4772 146.024 26.6192H141.654C141.355 27.234 140.807 27.5331 139.992 27.5331C138.696 27.5331 138.015 26.8518 138.015 25.5723C138.015 25.4726 138.015 25.4062 138.032 25.2566H146.506C146.672 24.3926 146.689 24.1267 146.689 23.4122C146.705 20.0557 144.495 18.0618 140.823 18.0618ZM142.501 22.9303H138.414C138.746 21.7007 139.61 20.9696 140.757 20.9696C141.82 20.9696 142.501 21.6509 142.501 22.6811V22.9303Z' fill='#17233B')
      path(d='M153.651 20.1722L154.066 18.361H149.763L147.304 30.0755H151.757L152.87 24.8746C153.252 23.0302 154.1 21.8504 156.227 21.8504C156.792 21.8504 157.273 21.9335 157.905 22.1495L158.752 18.1948C158.121 18.0619 157.872 18.0287 157.373 18.0287C155.595 18.0453 154.631 18.8263 153.651 20.1722Z' fill='#17233B')
      path(d='M35.5591 3.27334C35.3929 3.20687 34.9442 2.97424 33.8476 2.55884C31.7207 1.72802 28.3808 0.814124 24.8249 0.348868C13.9745 -0.781042 6.6799 4.32017 4.40346 16.6329L2.04395 29.793L6.53035 37.2038C6.91253 36.7884 12.0968 31.3881 12.3461 31.1389C13.1769 30.2748 13.7418 29.1948 13.9246 28.0981L15.9518 16.6329C15.9518 16.6329 16.5832 12.6616 19.4412 9.02258C14.3733 10.5181 11.4986 14.5392 10.0364 19.5573C10.1527 19.1419 10.1361 18.6268 10.1693 18.1948C11.3158 3.52258 23.4624 1.77787 35.5591 3.27334Z' fill='#17233B')
      path(d='M41.9562 0L34.861 7.41088L31.3051 27.3837C31.3051 27.3837 29.2946 39.9456 16.3671 40.8761C22.5151 38.932 27.1344 34.8112 28.4471 27.3837L30.8066 14.2236C26.8021 7.61027 27.7825 9.22205 26.3202 6.81269C25.8051 7.34441 22.432 10.8671 20.5045 12.8776C19.6737 13.7417 19.1088 14.8218 18.926 15.9184L16.8988 27.3671C16.8988 27.3671 16.2674 31.3384 13.4094 34.9773C18.4773 33.4819 21.352 29.4607 22.8142 24.4426C22.6979 24.858 22.7477 25.3731 22.6813 25.8051C21.1692 37.8686 11.997 42.2054 0 40.7266C0.166163 40.8097 13.9411 48.852 32.5181 39.4305C37.5363 36.9713 41.9063 32.6012 42.8369 27.3671L46.077 9.50453C46.3263 8.15861 46.0604 6.74622 45.3459 5.58308L41.9562 0Z' fill='#FF4E2C')
    defs
      clippath#clip0
        rect(width='158.752' height='44' fill='white')

mixin svg-logo-mobile
  svg(width='47' height='44' viewbox='0 0 47 44' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M35.56 3.27295C35.3939 3.2065 34.9452 2.97389 33.8485 2.55851C31.7217 1.72777 28.3818 0.81395 24.8259 0.348732C13.9754 -0.781081 6.68087 4.31969 4.40444 16.6313L2.04492 29.7903L6.53133 37.2006C6.9135 36.7852 12.0978 31.3854 12.347 31.1361C13.1779 30.2722 13.7428 29.1922 13.9256 28.0956L15.9528 16.6313C15.9528 16.6313 16.5842 12.6604 19.4422 9.02171C14.3742 10.517 11.4996 14.5379 10.0374 19.5556C10.1537 19.1402 10.1371 18.6251 10.1703 18.1931C11.3168 3.52218 23.4634 1.77761 35.56 3.27295Z' fill='#17233B')
    path(d='M41.9562 0L34.861 7.41024L31.3051 27.3813C31.3051 27.3813 29.2946 39.9422 16.3671 40.8726C22.5151 38.9287 27.1344 34.8082 28.4471 27.3813L30.8066 14.2224C26.8021 7.60962 27.7825 9.22127 26.3202 6.81211C25.8051 7.34378 22.432 10.8661 20.5045 12.8765C19.6737 13.7405 19.1088 14.8205 18.926 15.9171L16.8988 27.3647C16.8988 27.3647 16.2674 31.3357 13.4094 34.9744C18.4773 33.479 21.352 29.4582 22.8142 24.4405C22.6979 24.8559 22.7477 25.3709 22.6813 25.8029C21.1692 37.8653 11.997 42.2018 0 40.7231C0.166163 40.8062 13.9411 48.8478 32.5181 39.4272C37.5363 36.9681 41.9063 32.5984 42.8369 27.3647L46.077 9.50372C46.3263 8.15791 46.0604 6.74565 45.3459 5.5826L41.9562 0Z' fill='#FF4E2C')

mixin svg-arrow
  svg(width='8' height='35' viewbox='0 0 8 35' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(opacity='0.4' d='M3.64645 34.3536C3.84171 34.5488 4.15829 34.5488 4.35355 34.3536L7.53554 31.1716C7.7308 30.9763 7.7308 30.6597 7.53554 30.4645C7.34027 30.2692 7.02369 30.2692 6.82843 30.4645L4 33.2929L1.17157 30.4645C0.976312 30.2692 0.65973 30.2692 0.464467 30.4645C0.269205 30.6597 0.269205 30.9763 0.464467 31.1716L3.64645 34.3536ZM3.5 2.18557e-08L3.5 34L4.5 34L4.5 -2.18557e-08L3.5 2.18557e-08Z' fill='#FF4E2C')

mixin svg-arrow-long
  svg(width='8' height='83' viewbox='0 0 8 83' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(opacity='0.4' d='M3.64645 82.3536C3.84171 82.5488 4.15829 82.5488 4.35356 82.3536L7.53554 79.1716C7.7308 78.9763 7.7308 78.6597 7.53554 78.4645C7.34028 78.2692 7.02369 78.2692 6.82843 78.4645L4 81.2929L1.17158 78.4645C0.976314 78.2692 0.659732 78.2692 0.46447 78.4645C0.269207 78.6597 0.269207 78.9763 0.46447 79.1716L3.64645 82.3536ZM3.5 2.18557e-08L3.5 82L4.5 82L4.5 -2.18557e-08L3.5 2.18557e-08Z' fill='#FF4E2C')
