doctype html
head
  meta(charset='utf-8')
  // utf-8 works for most cases
  meta(name='viewport' content='width=device-width')
  // Forcing initial-scale shouldn't be necessary
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // Use the latest (edge) version of IE rendering engine
  meta(name='x-apple-disable-message-reformatting')
  // Disable auto-scale in iOS 10 Mail entirely
  meta(name='format-detection' content='telephone=no,address=no,email=no,date=no,url=no')
  // Tell iOS not to automatically link certain text strings.
  title
  // The title tag shows in email notifications, like Android 4.4.
  // CSS Reset : BEGIN
  style.
    /* What it does: Remove spaces around the email design added by some email clients. */
    /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
    html,
    body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
    }
    /* What it does: Stops email clients resizing small text. */
    * {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    /* What it does: Centers email on Android 4.4 */
    div[style*="margin: 16px 0"] {
    margin: 0 !important;
    }
    /* What it does: Stops Outlook from adding extra spacing to tables. */
    table,
    td {
    mso-table-lspace: 0pt !important;
    mso-table-rspace: 0pt !important;
    }
    /* What it does: Fixes webkit padding issue. */
    table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    table-layout: fixed !important;
    margin: 0 auto !important;
    }
    /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
    a {
    text-decoration: none;
    }
    /* What it does: Uses a better rendering method when resizing images in IE. */
    img {
    -ms-interpolation-mode: bicubic;
    }
    /* What it does: A work-around for email clients meddling in triggered links. */
    a[x-apple-data-detectors],
    /* iOS */
    .unstyle-auto-detected-links a,
    .aBn {
    border-bottom: 0 !important;
    cursor: default !important;
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: 'Helvetica', inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    }
    /* What it does: Prevents Gmail from changing the text color in conversation threads. */
    .im {
    color: inherit !important;
    }
    /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
    .a6S {
    display: none !important;
    opacity: 0.01 !important;
    }
    /* If the above doesn't work, add a .g-img class to any image in question. */
    img.g-img+div {
    display: none !important;
    }
    /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
    /* Create one of these media queries for each additional viewport size you'd like to fix */
    /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
    @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    u~div .email-container {
    min-width: 320px !important;
    }
    }
    /* iPhone 6, 6S, 7, 8, and X */
    @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
    u~div .email-container {
    min-width: 375px !important;
    }
    }
    /* iPhone 6+, 7+, and 8+ */
    @media only screen and (min-device-width: 414px) {
    u~div .email-container {
    min-width: 414px !important;
    }
    }
  // What it does: Makes background images in 72ppi Outlook render at correct size.
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  // CSS Reset : END
  // Progressive Enhancements : BEGIN
  style.
    /* What it does: Hover styles for buttons */
    .button-td,
    .button-a {
    transition: all 100ms ease-in;
    }
    .button-td-primary:hover,
    .button-a-primary:hover {
    background: #ffffff !important;
    border-color: #ff2f1b !important;
    color: #ff2f1b !important;
    }

    .button-td-white:hover,
    .button-a-white:hover {
    background: #FF4E2C !important;
    border-color: #FF4E2C !important;
    color: #ffffff !important;
    }

    .desktop-hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    }
    /* Media Queries */
    @media screen and (max-width: 600px) {
    .email-container {
    width: 100% !important;
    margin: auto !important;
    }
    /* What it does: Forces table cells into full-width rows. */
    .stack-column,
    .stack-column-center {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    direction: ltr !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    }
    /* And center justify these ones. */
    .stack-column-center {
    text-align: center !important;
    }
    .stack-column-row-center {
    width: 80% !important;
    margin: 0 auto !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    }

    .stack-column-row-center-small {
    display: block !important;
    width: 92% !important;
    max-width: 92% !important;
    direction: ltr !important;
    padding-left: 4% !important;
    padding-right: 3.6% !important;
    }
    .stack-column-row-center-image {
    width: 53px !important;
    }
    /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
    .center-on-narrow {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    }
    table.center-on-narrow {
    display: inline-block !important;
    }
    .mobile-center {
    text-align: center !important;
    margin: 0 auto !important;
    }
    .mobile-hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    }

    .mobile-header {
      padding-top:27px !important;
    }

    .desktop-hidden {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    height: auto !important;
    }

    .padding-null {
      padding: 0 !important;
    }

    .no-border {
      border-left: 0 !important;
      border-top: 0 !important;
      border-right: 0 !important;
      box-shadow: none !important;;
    }

    }

    @media screen and (max-width: 600px) {
    .bg-cover {
      background-size: contain !important;
      background-position: center!important;
    }

    .stack-column-center.mobile-item {
      padding: 0 19px 15px 0!important;
    }

    .stack-column-center.mobile-last-item {
      padding: 8px 19px 29px 0!important;
    }

    .last-link {
      text-align: center!important;
      padding-top: 7px!important;
    }

    .footer-mobile-item {
      padding: 13px 0px 33px !important;
    }

    .main-img {
      padding: 178px 40px!important;
    }

    .main-header {
      padding: 0px 20px 30px;
    }


    }

    @media screen and (max-width: 345px) {
      .main-header {
        font-size: 25px !important;
      }

      .main-img {
         padding: 138px 40px !important;
      }
    }
  // Progressive Enhancements : END
center(style='width: 100%; background-color:#F9F5F2;')
  //if mso | IE
    table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='100%' style='background-color: #F9F5F2;')
      tr
        td
  // Create white space after the desired preview text so email clients don’t pull other distracting text into the inbox preview. Extend as necessary.
  // Email Body : BEGIN
  table.email-container(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' width='600' style='margin: auto;')
    // Email Body : BEGIN
    tbody
      tr
        td.padding-null(style='padding: 44px 10px 0;')
          table.no-border.email-container(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' width='560' style='margin: auto;border-radius:4px;box-shadow: 0px 2px 4px #EDEFF5;')
            // Email Header : BEGIN
            tr
              td.no-border(style='background-color: #ffffff; padding: 13px 30px; border: 1px solid #E5E9F2;border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom: 1px solid #E5E6EB;')
                table(border='0' cellpadding='0' cellspacing='0' width='100%')
                  tbody
                    tr
                      td(style='padding-right: 10px;' valign='bottom' align='left')
                        a.mobile-hidden(href='https://creditter.ru/' title='SmartCredit' target='_blank' style='text-decoration: none; color: #ffffff;')
                          img(width='130' src='http://cdn.mcauto-images-production.sendgrid.net/14d98ed5a0f1b1cd/9c95f0fe-a920-4abc-a7ec-dcdb6a608aca/1280x370.png' alt='Creditter' style='border: 0; max-width: 150px; vertical-align: middle; width: 100%;')
                        a.desktop-hidden(href='https://creditter.ru/' title='SmartCredit' target='_blank' style='text-decoration: none; color: #ffffff; width: 46px;')
                          img(width='46' src='https://marketing-image-production.s3.amazonaws.com/uploads/ca6ae5416c5ac4e4997712dc6711283189cf9e67ddc800e2752b438849db87daf20e91b44ec00839e339759b7399949f2e1d4c5279f7c3734c274ea8464e2be6.png' alt='Creditter' style='border: 0; max-width: 46px; vertical-align: middle; width: 100%;')
                      td(width='70%' valign='bottom' align='right' padding-bottom='11px')
                        table(border='0' cellpadding='0' cellspacing='0' width='100%')
                          tbody
                            tr
                              td.mobile-hidden(style='padding: 8px 0px; width: 70px; white-space: nowrap;' align='right')

                              td(style='padding: 8px 0px; width: 70px; white-space: nowrap;' align='right')
                                a(href='https://creditter.ru/' style="font-family: 'Helvetica', sans-serif; font-size: 15px; line-height: 18px; color: #17233B;")
                                  | Взять деньги
                              td(style='padding: 0 0 0 18px; width: 70px; white-space: nowrap;' align='right')
                                a(href='https://creditter.ru/' style="font-family: 'Helvetica', sans-serif; font-size: 15px; line-height: 18px; color: #17233B;") Поддержка
            // Email Header : END
            tr
              // Bulletproof Background Images c/o https://backgrounds.cm
              td.no-border.bg-cover(valign='middle' style="border-left: 1px solid #E5E9F2;border-right: 1px solid #E5E9F2;text-align: center; background-image: url('img/cellphone.png'); background-color: #ffffff; background-position: center;  background-size: 100%; background-repeat: no-repeat;")
                a(href='https://creditter.ru/' title='SmartCredit' target='_blank' style='text-decoration: none; color: #ffffff;')

                  //if gte mso 9
                    v:rect(xmlns:v='urn:schemas-microsoft-com:vml' fill='true' stroke='false' style='width:600px;height:175px; background-position: center center !important;')
                      v:fill(type='tile' src='https://marketing-image-production.s3.amazonaws.com/uploads/1035d8601a327ac9cbc08890ced2ac65c32c2b0ec7310c5d1778afb68a731435b5ff15d182ed2f623d3dcef4a4058d88f8c5ff5d5f72b214ea38880f3e1fbba7.png' color='#222222')
                        v:textbox(inset='0,0,0,0')

                  div
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='100%')
                      tbody
                        tr
                          td(class="main-img" valign='middle' style='padding: 230px 40px;')
                            a(href='https://creditter.ru/' title='SmartCredit' style='text-decoration: none; color: #ffffff;' target='_blank')
                  //if gte mso 9
            tr
              td.no-border(style='background-color: #ffffff;border-left: 1px solid #E5E9F2;border-right: 1px solid #E5E9F2;')
                table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
                  tr
                    td.padding-null(style="padding: 6px 30px 30px 30px; font-family: 'Helvetica', sans-serif; font-size: 15px; line-height: 25px; color: #17233B;")
                      h2( class="main-header" style='margin: 0; font-size: 31px; line-height: 38px; text-align: center; padding: 0px 12px;')
                        | Займ до 14 000 руб. за 5 минут
            tr
              td.no-border(style='padding: 10px; background-color: #ffffff; border-left: 1px solid #E5E9F2; border-right: 1px solid #E5E9F2;')
                table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')

                  tr
                    // Column : BEGIN
                    td.stack-column-center.mobile-item(valign='top' width='60%' style='padding: 0 19px 16px 19px;')
                      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
                        tr
                          td.stack-column-row-center-image(width='10%' style='text-align: left;')
                            img(src='https://marketing-image-production.s3.amazonaws.com/uploads/f636e65464df2b3f0324b66367bdfcb409295782d43f5e2a7c9dea4cb54bc2380f98c8d4389a32bba880e2ee6f66d24e68097b1f657254394b8740fe77804e12.png' width='34' height='34' alt='' border='0' style='width: 100%; max-width: 34px; height: auto;')
                          td.center-on-narrow(style="font-family: 'Helvetica', sans-serif; font-size: 15px; line-height: 24px; color: #17233B; text-align: left;")
                            p(style='margin: 0; text-align: left;')
                              | Екатерина, Вам доступен займ до  30 000 руб. на лучших условиях на сайте Creditter.ru
                    // Column : END
                  tr
                    // Column : BEGIN
                    td.stack-column-center(valign='top' width='60%' style='padding: 0 19px 19px 19px;')
                      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
                        tr
                          td.stack-column-row-center-image(width='10%' style='text-align: left;')
                            img(src='https://marketing-image-production.s3.amazonaws.com/uploads/49e740574037dd2dfee8e273775ea9cf328bf8d128867daffb57ee2f6b1c30c324a758acda86cbe7056a5c34e3f641d290805ba11513e688373cbb3ced8d41fb.png' width='34' height='34' alt='' border='0' style='width: 100%; max-width: 34px; height: auto;')
                          td.center-on-narrow(style="font-family: 'Helvetica', sans-serif; font-size: 15px; line-height: 24px; color: #17233B; text-align: left;")
                            p(style='margin: 0; text-align: left;') Одобрение в 97% случаев!
                    // Column : END
                  tr
                    // Column : BEGIN
                    td.stack-column-center.mobile-last-item(valign='top' width='60%' style='padding: 0 19px 35px 19px;')
                      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
                        tr
                          td.stack-column-row-center-image(width='10%' style='text-align: left;')
                            img(src='https://marketing-image-production.s3.amazonaws.com/uploads/fc70d4039108ee5a8976ea89952bc43dd0c7b107cc3e5b97f5742e2024b5418d31a70dccd18159744013a3c73ffa2786868874e9469b6c789a8f91695826d556.png' width='34' height='34' alt='' border='0' style='width: 100%; max-width: 34px; height: auto;')
                          td.center-on-narrow(style="font-family: 'Helvetica', sans-serif; font-size: 15px; line-height: 24px; color: #17233B; text-align: left;")
                            p(style='margin: 0; text-align: left;') Оформите займ за 5 минут
                    // Column : END
            // 2 Even Columns : END
            tr
              td.no-border.stack-column-row-center-small(style='background: #ffffff; padding: 0px 168px 0px; border-left: 1px solid #E5E9F2;text-align: center; border-right: 1px solid #E5E9F2; ')
                // Button : BEGIN

                div( class="" style="padding-bottom: 9px; width:100%;max-width:222px;display:inline-block;vertical-align:top;")
                  table(width='100%' cellpadding='0' cellspacing='0' style='border-spacing:0;')
                    tr
                      td.button-td.button-td-primary(style='border-radius: 6px; background: #FF4E2C;')
                        a.button-a.button-a-primary(href='http://smcr.me/pay/p/1tz8i1sm' style="background: #FF4E2C; border: 1px solid #FF4E2C; font-family: 'Helvetica', sans-serif; font-size: 16px; line-height: 18px; font-weight: normal; text-decoration: none; padding: 19px 26px 18px; color: #ffffff; display: block; border-radius: 4px; text-align: center;")
                          | Получить&nbsp;деньги



                // Button : END

            // 1 TextBlock : BEGIN
            tr
            td.no-border.stack-column-row-center-small(style='background: #ffffff; padding: 0 66px 28px; border-left: 1px solid #E5E9F2; border-right: 1px solid #E5E9F2; ')
              // Button : BEGIN

              div( class="column stack-column-center" style="padding-bottom: 9px; width:100%;display:inline-block;vertical-align:top;")
                table(width='100%' cellpadding='0' cellspacing='0' style='border-spacing:0;')
                  tr
                    td(style='width: 100%;')
                      p( style="font-family: 'Helvetica', sans-serif; font-size: 15px; line-height: 24px; font-weight: normal; text-decoration: none; color: #17233B;")
                        | Вы получили этот e-mail по рекомендации Вашего друга.





          // Email Body : END
  // Email Footer : BEGIN
  table.email-container(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' width='600' style='margin: auto;')
    tbody
      tr
        td(style='padding: 14px 7px 0 14px;')


          div( class="" style="width:100%;max-width:162px;display:inline-block;vertical-align:top;")
            table
              tbody
                tr
                  td(style="text-align: right;  width: 182px; display: block; ")
                    h3(style="margin: 0; font-family: 'Helvetica', sans-serif; color: #17233B; font-size: 12px; line-height: 18px; letter-spacing: 0.1px; padding-right: 9px; padding-bottom: 10px;")
                      | Скачайте наше приложение
                    a(style="padding-right: 41px;" href='https://play.google.com/store/apps/details?id=com.team.noty.smartcredit')
                      img(src='https://marketing-image-production.s3.amazonaws.com/uploads/378ae9c8a73bf5133eb8d8a0685c1a64099cf14923e8b0fd8f78770e791455fc73c15178856f27057f9b8d87462a0e57f731b21af9cc1b16281313a11c54727b.png' width='135' height='40')
          div( class="column " style="padding-bottom: 15px; width:100%;max-width:402px;display:inline-block;vertical-align:top;")

            table(border='0' cellpadding='0' cellspacing='0' width='100%' margin="auto")
              tbody
                tr
                  td( class="footer-mobile-item" style="padding: 1px 0px 33px 61px; font-family: 'Helvetica', sans-serif; font-size: 12px; line-height: 18px; text-align: left; color: #17233B;")
                    p(style='margin: 0;')
                      span(style="font-weight:bold; display: block; margin-bottom: -4px")
                        | Если у вас есть вопросы, будем рады вам помочь!
                      | Звоните:
                      a(href='tel:+74959959560' style='color:#17233B;text-decoration: none;padding-top: 5px; padding-bottom: 5px; display: inline-block;') +7 495 995-95-60
                      |  , пишите:
                      a(style='color:#17233B;text-decoration: none;' href='mailto:info@creditter.ru') info@creditter.ru
                      br
                      b Работаем круглосуточно!
                    p(style='margin: 0; padding-top: 16px;')
                      | Вы можете <a style='color:#FF4E2C;text-decoration: none;' href="https://creditter.ru">отписаться от рассылки</a> в настройках профиля.
  // Email Footer : END
  // Email Footer Second : BEGIN

  //if mso | IE
