include pug/mixins

block variables
- let mainTitle = "Creditter";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/HelveticaRegular.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/HelveticaItalic.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/HelveticaBold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )

  body
    header.header-cover
      .header
        a.header__logo( href="" )
          +svg("logo", "158", "44")
          +svg("logo-mobile", "46", "44")
        nav
          ul
            li
              a Взять деньги
            li
              a Поддержка

    main
      section.mail
        img( src="img/hero.png" width="417")
        h1 Сегодня дата вашего обязательного платежа!

        p.mail__text Вы можете внести платеж любым удобным для вас способом:

        ul.mail__list
          li Переводом на расчетный счет компании Кредиттер
            +svg-house
          li
            | Через платежные системы
            span.rub ₽
            +svg-rub
          li Оплатой с вашей банковской карты
            +svg-wallet

        .mail__links
          a.red-btn Продлить займ
          a.white-btn Оплатить задолженность

        .mail__block
          h2 Пожалуйста, не допускайте просрочки
          p В случае просрочки платежа данные будут переданы в кредитное бюро, а также вам необходимо будет заплатить неустойку в соответствии с действующим законодательством.

        .mail__block
          h2 Контактная информация
          p Если у вас возникают вопросы о погашении задолженности и способах оплаты, вы можете позвонить по телефону горячей линии:<br> <a href="tel:+74959959560"> 8 (495) 995-95-60</a>

      section.bank
        .bank__account
          h2 Банковские реквизиты
          p ООО Микрокредитная компания «Кредиттер»
          p ИНН: 7702463482, КПП: 770201001
          p ОГРН: 1197746100530
          p р/с 40701810702370000034
          p в АО «АЛЬФА-БАНК» г. Москва,
          p к/с 30101810200000000593
          p БИК 044525593

        .bank__app
          h2 Скачайте наше приложение
          img( src="img/googleplay.png" width="135" height="40" )


    footer.footer
      p Если у вас есть вопросы, будем рады вам помочь!
      p Звоните <a href="tel:+74959959560"> +7 495 995-95-60</a>, пишите: <a href="mailto:info@creditter.ru">info@creditter.ru</a>
      p Работаем круглосуточно!
      p Вы можете <a href="">отписаться от рассылки</a> в настройках профиля.
