include pug/mixins

block variables
- let mainTitle = "Creditter";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/HelveticaRegular.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/HelveticaItalic.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/HelveticaBold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )

  body
    header.header-cover
      .header
        a.header__logo( href="" )
          +svg("logo", "158", "44")
          +svg("logo-mobile", "46", "44")
        nav
          ul
            li
              a Взять деньги
            li
              a Поддержка

    main
      section.mail
        picture
          source( srcset="img/calendar.png" media="(min-width: 561px)" )
          img.prolong( src="img/calendar-mobile.png" width="509" )
        h1.prolong Возможность<br> пролонгации займа!

        p.mail__text.prolong Если вы не располагаете денежными средствами для погашения задолженности перед компанией ООО МКК «Кредиттер» в полном объеме, у вас есть возможность оформить пролонгацию

        .mail__links
          a.red-btn Продлить займ
          a.white-btn Оплатить задолженность

        ul.mail__list.prolong
          li Пролонгация - продление срока возврата займа.
            +svg-round
            +svg("arrow", "8", "32")
          li Вы можете воспользоваться пролонгацией в вашем личном кабинете.
            +svg-calendar
            +svg("arrow", "8", "32")
          li Для этого вам нужно оплатить минимальную сумму процентов за пользование займом (не позднее даты по оплате задолженности) и продлить срок займа.
            +svg-wallet
            +svg("arrow", "8", "32")
          li Процентная ставка за использование займом останется прежней.
            +svg-percent
            +svg("arrow", "8", "32")


        .mail__block
          p Точную информацию о сумме минимального платежа и способах оплаты, вы можете позвонить по телефону горячей линии:<br> <a href="tel:+74959959560"> 8 (495) 995-95-60</a>

      section.bank
        .bank__account
          h2 Банковские реквизиты
          p ООО Микрокредитная компания "Кредиттер"
          p ИНН: 7702463482, КПП: 770201001
          p ОГРН: 1197746100530
          p р/с 40701810702370000034
          p в АО «АЛЬФА-БАНК» г. Москва,
          p к/с 30101810200000000593
          p БИК 044525593

        .bank__app
          h2 Скачайте наше приложение
          img( src="img/googleplay.png" width="135" height="40" )


    footer.footer
      p Если у вас есть вопросы, будем рады вам помочь!
      p Звоните <a href="tel:+74959959560"> +7 495 995-95-60</a>, пишите: <a href="mailto:info@creditter.ru">info@creditter.ru</a>
      p Работаем круглосуточно!
      p Вы можете <a href="">отписаться от рассылки</a> в настройках профиля.
